/*TSXのタグのstyleに直書きは出来なさそう*/
.content {
  height: calc(100vh - theme('spacing.12'));
}

#tooltip {
  position: relative;
  height: calc(50%);
  height: -webkit-calc(50%);
  margin-top: 10px;
  border: 1px;
  width: 100%;
}

#tooltip_content {
  width: 100%;
  overflow-y: auto;
}

.tooltip_table {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 12px;
  height: 100%;
}

.tooltip_th {
  white-space: nowrap;
}

.tooltip_td {
  white-space: nowrap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* スライダーのスタイル */
.rangeslider-horizontal {
  height: 7px;
  position: relative;
  margin-bottom: 28px;
  background-color: #cbcbcb;
  border-radius: 10px;
}
.rangeslider__fill {
  position: absolute;
  height: 7px;
  background-color: #17a2b8;
  border-radius: 10px;
  top: 0;
  left: 0;
}
.rangeslider__handle {
  width: 16px;
  height: 16px;
  border-radius: 30px;
  top: -4px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transform: translate3d(-50%, 0, 0);
}
.rangeslider__handle-tooltip {
  width: 40px;
  height: 25px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: -35px;
}
.rangeslider__handle-tooltip span{
  display: inline-block;
  line-height: 100%;
}
.rangeslider__handle-tooltip::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -8px;
  transform: translate3d(-50%, 0, 0);
}
.rangeslider__label-item {
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  top: 14px;
  transform: translate3d(-50%,0,0);
}

.textTooltip_container {
  position: relative;
  display: inline-block;
}

.textTooltip_float_top {
  position: absolute;
  font-size:12px;
  left:20px;
  min-width: 200px;
  white-space: nowrap;
  z-index: 9999;
  bottom: calc(100% + 5px);
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
}